.favoritesPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
}

.favoritesLabel {
  size: larger;
}

.favoritesListTitle {
  color: grey;
}

.removeButtonFavoriteList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
