.App {
  font-family: "Cinzel", serif;
}

.header {
  height: 100px;
  width: auto;
  border-bottom: solid 2px lightskyblue;
  background-color: white;
}

.home {
  font-family: "Cinzel", serif;
  color: lightslategrey;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.titleDiv {
  font-family: "Cookie", cursive;
  font-size: 30pt;
  color: lightseagreen;
  margin-top: -35px;
  /* margin-left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
  text-align: center;
}

.favorites {
  margin-left: 10px;
  font-family: "Cinzel", serif;
  color: red;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

button {
  font-family: "Cinzel", serif;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .titleDiv {
    font-size: 30pt;
  }
}
